body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

container {
    margin-left: 5px;
    margin-right: 5px;
}

th, td {
    white-space: nowrap;
}

.first-col {
    position: absolute;
    width: 7em;
    margin-left: -7em;
}

.header-col {

}

.table-wrapper {
    overflow-x: scroll;
    width: 100%;
    margin: auto;
}

.fixed-scrollbar {
    overflow: auto;
}

.body {
    margin: 0;
    background-image: url(../Img/space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron-opacity {
    padding-top: 30px;
    background: rgba(255,255,255,0.1);
}

.menu-label {
    color: white;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.color-stat-rank {
    background-color: rgba(255, 235, 59, 0.1);
}

.color-stat {
    background-color: rgba(255, 152, 0, 0.1);
}

.color-stat-rank-select {
    background-color: yellowgreen;
    color: black;
}

.color-set {
    background-color:yellowgreen;
}

.color-druid {
    color: green;
}

.color-priest {
    color: cornflowerblue;
}

.color-knight {
    color: yellow;
}

.color-scout {
    color: forestgreen;
}

.color-rouge {
    color: deepskyblue;
}

.color-warden {
    color: rebeccapurple;
}

.color-champion {
    color: royalblue;
}

.color-mage {
    color: darkorange;
}

.color-warlock {
    color: saddlebrown;
}

.font-size {
    font-size:10px;
    font-weight:bold;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(206, 65, 31);
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-mirror {
    transform: scale(-1, 1);
}

.txt_Dura{
    width: 50px;
}
